@import url("~/../../../.cache/wal/colors-waybar.css");

* {
	border-radius: 20px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono Nerd Font, Hack Nerd Font, "NotoSansCJKJP", NotoSansCJKJP, FontAwesome, Roboto, Helvetica;
    font-size: 12px;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    background-color:transparent;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: @color6;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
    padding: 0px;
    margin: 0px;
}


window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
		color: @color1;
    background: @color6;
    box-shadow: inset 0 -3px #ffffff;
}
/*
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}
*/
#workspaces button{
    /*box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
    background: transparent ;
    border-radius: 200px;
    padding: 0px 1px 0px 1px;
    margin-left:3px;
    margin-right:3px;
    margin-top:2px;
    margin-bottom:2px;
    color: 	@color6 ;
}

#workspaces button.active{
    padding: 0px 45px 0px 45px;
    border-radius: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    background: @color6;
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: @background;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces{
    background-color: @background;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 25px;
    padding: 0 5px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: @background;
    color: @color6;
}

#battery {
    background-color: @background;
    margin-top: 2px;
    margin-bottom: 2px;
    color: @color6;
}

#battery.charging, #battery.plugged {
    color: #000000;
    /*background-color: #26A65B;*/
    background-color: #50fa7b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: @background;
    color: @color6;
}

#network {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: @background;
    color: @color6;
}

#network.disconnected {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #f53c3c;
}

#pulseaudio {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: @background;
    color: @color6;
}

#pulseaudio.muted {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: @color6;
    color: @background;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
